@use './_variables.scss';
// Запрещаем выделение по умолчанию для всех элементов
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Разрешаем выделение для контента, который должен быть доступен для копирования
.allow-selection,
input,
textarea,
[contenteditable="true"],
.code-block,
.text-content {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

html {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; // Добавлен Open Sans
  height: 100%;

  //scrollbar-width: thin;
  //scrollbar-color: #147dc1 #d7d7d7;
}

body {
  background-color: var(--body-background);
  height: calc(100% - 10px);
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; // Добавлен Open Sans
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open Sans', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div, a {
  box-sizing: border-box;
  //scrollbar-width: thin;
}

.main {
  min-height: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
button, div, a, input {
  margin: 0;
  font-family: 'Open Sans', serif;
  font-size: 16px;
  color: var(--widget-black);
}

/* Базовые стили */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--widget-white);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

::-webkit-scrollbar-thumb {
  background: var(--widget-blue);
  border-radius: 10px;
  background-clip: content-box;
  opacity: 0;
  transition: opacity 0.5s ease;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Показывать только при наведении на всю страницу или конкретный контейнер */
html:hover ::-webkit-scrollbar-thumb,
html:hover ::-webkit-scrollbar-track,
.scroll-container:hover::-webkit-scrollbar-thumb,
.scroll-container:hover::-webkit-scrollbar-track {
  opacity: 0.7;
}

/* Полностью показывать при активном взаимодействии */
html:active ::-webkit-scrollbar-thumb,
html:active ::-webkit-scrollbar-track,
.scroll-container:active::-webkit-scrollbar-thumb,
.scroll-container:active::-webkit-scrollbar-track {
  opacity: 1;
}

div.form-field__container > div.form-referral__card {
  margin-bottom: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: var(--widget-blue) !important;
  -webkit-text-fill-color: var(--widget-blue) !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='date'] {
  &::-webkit-calendar-picker-indicator {
    background: transparent;
    cursor: pointer;
  }
}

.page-content {
  min-height: 220px;
}
