@use "./_variables.scss";

html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;

  scrollbar-width: thin;
  scrollbar-color: #147DC1 #d7d7d7;
}

body {
  background-color: var(--body-background);
  height: calc(100% - 10px);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#widgetsRoot {
  height: 100%;
}

div {
  box-sizing: border-box;
  scrollbar-width: thin;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.main {
  // 44px - это высота хедера
  // height: calc(100% - 110px);
}

.widgets-container {
  display: flex;
  justify-content: space-between;
  // overflow: auto;
  margin-bottom: 5px;
  height: 100%;
  padding: 0;
  @media (max-width: 1200px) {
    position: relative;
  }
}

.tm-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__small {
    width: 300px;
    min-width: 300px;
    transition: left 0.3s ease-in-out;
    margin-right: 20px;
    position: var(--sticky-style);
    top: 0;
    height: fit-content;

    @media (max-width: 1200px) {
      position: absolute;
      top: unset;
      z-index: 1000;
      width: 100%;
      margin: 0;
      height: 100%;
      justify-content: flex-start;
      background-color: var(--body-background);
    }

    @media (max-width: 767px) {
      height: fit-content;
    }

    &_operations {
      padding: 37px;
      border: 1px solid #D8D9DA;
      border-radius: 8px;
      margin-right: 0;
    }
  }

  &__big {
    width: 100%;
    //overflow: auto;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  &__all {
    width: 100%;
    // overflow: auto;
  }

  &:nth-child(2) {
    margin-left: 20px;

    @media (max-width: 1200px) {
      margin-left: 0;
    }
  }
}

.calendar-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.success-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 20px;
  margin-top: 20px;
}

textarea {
  &::-webkit-scrollbar {
    width: 10px;
  }
}

.week-header {
  text-align: left;
}

.week-header__day-name {
  font-weight: 400;
}

.widget-sign-error-container {
  border: 1px solid #FF4D4F;
  width: fit-content;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  background: #FFCDD480;
  font-size: 14px;

  &__error {
    font-style: italic;
  }

  &__dropdown {
    font-style: italic;
    margin-top: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;

    &-item {
      font-style: normal;
      display: flex;
      font-size: 10px;
      margin-top: 3px;
      transform: rotate(-90deg);

      &_opened {
        transform: rotate(90deg);
      }
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #d7d7d7;
}

::-webkit-scrollbar-track-piece {
  background-color: #d7d7d7;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::-webkit-scrollbar-corner {
  background-color: var(--primary);
}

div.form-field__container > div.form-referral__card {
  margin-bottom: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: var(--primary) !important;
  -webkit-text-fill-color: var(--primary) !important;
}

.react-calendar {
  border: 1px solid #9aa0a7 !important;
  border-radius: 8px;
}

.react-calendar__tile--now {
  background: #d1d1d1;
}

.react-calendar__tile--now:enabled:hover {
  background: #9aa0a7;
}

.react-calendar__tile--active {
  background: #006edc !important;
  color: white !important;
}

.react-calendar button {
  border-radius: 8px;
}

.Toastify__toast-container {
  z-index: 999999;
}

.canceled-appointment {
  width: fit-content;
  display: flex;
}

.canceled-appointment-name {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--tm-red);
  width: fit-content;
}

.canceled-appointment-left {
  min-width: 7px;
  width: 7px;
  border-color: var(--tm-red);
  border: 1px solid var(--tm-red);
  border-right: none;
  margin-right: 2px;
  border-radius: 2px;
}

.canceled-appointment-right {
  min-width: 7px;
  width: 7px;
  border-color: var(--tm-red);
  border: 1px solid var(--tm-red);
  border-left: none;
  margin-left: 2px;
  border-radius: 2px;
}

.tm-patient-link {
  cursor: pointer;
  color: var(--primary);
  display: flex;
  align-items: center;
  gap: 6px;
}

.performers-widget-container {
  .form-input__title {
    color: #3D4247;
    font-weight: 500;
    text-transform: uppercase;
  }
}
