@use './_variables.scss';

html {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif; // Добавлен Open Sans
  height: 100%;

  scrollbar-width: thin;
  scrollbar-color: #147dc1 #d7d7d7;
}

body {
  background-color: var(--body-background);
  height: calc(100% - 10px);
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; // Добавлен Open Sans
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Open Sans', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div {
  box-sizing: border-box;
  scrollbar-width: thin;
}

h1,
h2,
h3,
h4,
h5,
h6,
button, div {
  margin: 0;
  font-family: 'Open Sans', serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #d7d7d7;
}

::-webkit-scrollbar-track-piece {
  background-color: #d7d7d7;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

::-webkit-scrollbar-corner {
  background-color: var(--primary);
}

div.form-field__container > div.form-referral__card {
  margin-bottom: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: var(--primary) !important;
  -webkit-text-fill-color: var(--primary) !important;
}

